<div class="container landing-container d-flex ">
	<div class="row d-flex flex-wrap justify-content-around">
		<div class="float-left  d-flex reg-left col-md-6 col-sm-10 col-11">
				<img class="landing-img" src="<%= image_url 'landing-grid.png' %>" />
		</div>
		<div class="form-group reg-form  d-flex col-md-6 col-sm-10 col-11 ">
				<div class="inner-form col-md-10  my-md-auto mx-md-4 ">
					<img class="logo-img" src="<%= image_url '8waves-logo.png' %>" />
					<br />

					<p class="landing-paragraph pb-md-3 pb-1">Drum machine and step sequencer music playground with 8 waves of sound to play</p>
					<h5 class="pb-md-4 pb-1 text-center dive">Dive into your new creation</h5>
					<button class="d-block mb-md-3 mb-2 signup-btn btn-large"><a href="/users/sign_up">Sign up for free</a></button>
					<button class="d-block  mb-md-3 mb-1 login-btn btn-large"><a href="/users/sign_in">Log in</a></button>

				</div>
		</div>
	</div>
</div>