<div class="container-fluid pt-5  mt-3 d-flex ">
		<div class="float-left  reg-left col-md-7">
				<img width="100%" src="<%= image_url 'landing-grid.png' %>" />
		</div>
		<div class="form-group reg-form  my-auto rounded col-md-5 float-right">
				<div class="inner-form col-md-7  mx-3 ">
					<img width="100%" src="<%= image_url '8waves-logo.png' %>" />

					<p>Drum machine and step sequencer music playground with 8 waves of sound to play</p>

				</div>
		</div>
</div>