<!-- <div class="text-center pt-5 my-auto"> -->
<!-- <h1>~~ 8 waves ~~</h1>
<h5>Drum machine and step sequencer music playground with 8 waves of sound to play with</h5>
<p>Dive into your new creation!</p> -->
<div id="app"></div>
<!-- </div> -->
<%= javascript_pack_tag 'hello_react' %>