<div class="text-center pt-5 my-auto">
<h1>8 waves music playground</h1>
<p>Drum machine with 8 waves of sound with a step sequencer to play with</p>
<p>Dive in your new creation!</p>
</div>
<%= javascript_pack_tag 'hello_react' %>