 body {
	// background-color: #1e1e21;
	height: 100vh;}

.flex {
	display: flex;
	flex-direction: row;
}

 * {
 	outline: none;
 	outline-style: none;
 	outline-color: none;
 	outline-width: none;
 }

 *:focus{
	outline: none;
	outline-style: none;
		outline-color: none;
 	outline-width: none;

 *:active{
	outline: none;
	outline-style: none;
		outline-color: none;
 	outline-width: none;
}

.sequencer {
	margin-top: 6%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -55%);
	transform: translate(-50%, -55%);
	padding: 1em;
	background: #28282c;
	border-radius: 4px;
}

.keys-column {
	box-sizing: border-radius;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}

.key {
	background: #36363c;
	border-radius: 4px;
	cursor: pointer;
	width: calc(600px / 10 - 10px);
	height: calc(600px / 10 - 10px);
	margin: 5px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
	transition: #42424a 100ms ease;
}
.wrapper {
	height: 100vh;
	margin-top: 10vh;
}
.nav {
	width: 70vw;

	background-color: #28282c;
	padding: 20px 40px 20px 250px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.tools > select {
	margin: 5px;
	// padding-left: 250px;
		outline: none;
		background: rgb(54, 54, 60);
		color: #fff;
		padding: 1em;
		font-size: 12px;
		letter-spacing: 1px;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
		cursor: pointer;
		border: 2px solid transparent;
}


.tools {
	display: flex;
	padding: 0.35em 0 0.5em;

	 select, input, .record-btn {
		background: #36363c;
		margin: 5px;
		outline: none;
		color: white;
		padding: 1em;
		font-size: 12px;
		letter-spacing: 1px;
		border-radius: 4px;
		box-shadow: 0 1px 2px 0 rgba(black, 0.2);
		cursor: pointer;
		border: 2px solid transparent;

	}

	.record-btn {
		width: 40px;
		height: 42px;
		 padding: 0.75em 1em;
		 margin-top: 5px;

	}


	span {
		color: white;
		opacity: 0.3;
		display: block;
		margin-left: 5px;
	}

}

select  {
padding: 2em;
 height: 44px;
}