
<div class="container ">
	<% @jams.each_slice(3) do |jam| %>
		<div class="card-row mx-auto px-auto d-flex justify-content-around my-5">

			<% jam.each do |card| %>
			<div class="card float-left justify-content-around" style="width: 18rem; border: none; background-color: #839BBA;">


				<%= link_to card do %><img src="<%= image_url 'jam_img.png' %>" class="card-img-top mx-auto" style="width: auto; height:200px;  alt="..."><% end %>
				<div class="card-body">
					<h5 class="card-title text-center"><%= card.title %></h5>


				</div>



			</div>
			<% end %>

		</div>
		<% end %>
		<br/>

</div>